RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php?id=$1 [L,QSA]
#RewriteRule ^Dashboard/$    /index.php?id=Dashboard [L,QSA]
#RewriteRule ^Pago/$    /index.php?id=Ingreso [L,QSA]
#RewriteRule ^Informes/$    /index.php?id=Informes [L,QSA]
#RewriteRule ^InformesInusual/$    /index.php?id=InformesInusual [L,QSA]
#RewriteRule ^Configuracion/$    /index.php?id=Config [L,QSA]
#RewriteRule ^Config/$    /index.php?id=Configuracion [L,QSA]
#RewriteRule ^Inicio/$    /index.php [L,QSA]
#RewriteRule ^Login/$    /index.php?id=Login [L,QSA]
#RewriteRule ^Comentarios/$    /index.php?id=Comentarios [L,QSA]
