@font-face {
font-family: 'thebit';
src: url('../font/CaviarDreams.ttf');
src: url('../font/CaviarDreams_Bold.ttf');
src: url('../font/CaviarDreams_BoldItalic.ttf');
src: url('../font/CaviarDreams_Italic.ttf');
}

.fondo{
	/*background-color: #424242;*/
}

.contUno,.contDos,.contTres{
	margin:10px auto;
	padding: 20px 10px;
	text-align: center;
	font-family: 'thebit', Arial, Helvetica;
	color: white;
}

.contUno h1,.contDos h1,.contTres h1{
	font-size: 5.5rem;
}

.contUno h1,.contDos h1,.contTres h1,.contUno h2,.contDos h2,.contTres h2,.contUno h3,.contDos h3,.contTres h3{
	padding: 0px;
	margin: 0px;
}

.cont h1{
	font-size: 5.5rem;
	padding-top: 25px;
	text-align: center;
	font-family: 'thebit', Arial, Helvetica;
	/*padding-top: 130px;*/
}

.cont h4{
	font-size: 1.5rem;
	text-align: center;
	font-family: 'thebit', Arial, Helvetica;
}


.contUno{
	background-color: #ff6600;
}

.contDos{
	background-color: #006cff;
}

.contTres{
	background-color: #34a038;
}

.cont{
	margin-top: 15px;
}

.position{
	width: 50px;
	height: 50px;
	position: fixed;
	border-radius: 50px;
	padding: 10px;
}

.inParking{
	background-color: green;
	bottom: 30px;
	right: 30px;
}

.payment{
	background-color: orange;
	bottom: 90px;
	right: 30px;	
}

.imgFloat{
	width: 100%
}

.licensePlate{
	background-color: yellow;
	width: 90%;
	min-height: 250px;
	border-radius: 10px;
	display: flex;
  	align-items: stretch;
  	margin: 0 auto;
}

.licensePlateIn{
	background-color: yellow;
	margin: 1em auto;
	border-style: solid;
	border-color: black;
	width: 100%;
	border-radius: 10px;
}

.typeIn{
	text-align: right;
}

.typeOut{
	text-align: left;
}

#writeTime{
	font-size: 150px;
	text-align: center;
	margin: 0;width: 90%;
}

@media only screen and (max-width: 960px) {
  .licensePlate {
    	min-height: 180px;
  }

  #writeTime{
		font-size: 60px;
		margin: 29px 0 0 9px;
	}
}

@media only screen and (max-width: 575px) {
  .licensePlate {
    	min-height: 140px;
  }

  .typeIn{
		text-align: center;
	}

	.typeOut{
		text-align: center;
	}

	#writeTime{
		font-size: 54px;
		margin: 20px;
	}
}
